<h1><%= title %></h1>
<p>Account Number: <%= accountInfo.account_number %></p>
<p>Status: <%= accountInfo.status %></p>
<p>Buying Power: <%= accountInfo.buying_power %> <%= accountInfo.buying_power_currency %></p>
<a href="/">Go back</a>